.item1 {
  margin-top: 10px;
  padding: 0;
}

.question-container {
  padding: 0;
  margin-top: 50px;
}

.question-and-minipodium {
  justify-content: space-between;
}

.question{
  background-color: #3A8CF6;
  border-radius: 2rem;
  padding: 3.5rem 2rem;
  margin-bottom: 0;
}

.header-text {
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 1.3;
  color: white;
}

.selected {
  background: yellow;
  color: black;
}

.clicked {
  pointer-events: none;
}

#answer0 {
  background-color: red;
}

#answer1 {
  background-color: blue;
}

#answer2 {
  background-color: goldenrod;
}

#answer3 {
  background-color: forestgreen;
}

.answer-trivia{
  margin-top: 7px;
  margin-bottom: 7px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  justify-content: center;
  border: 2px solid #3A8CF6;
  background-color: white;
  color: #3A8CF6;
  font-size: 22px;
  font-weight: 600;
}

.divider{
  margin: 1.8rem 0;
}
